.call-back-button {
    color: rgba(60, 60, 60, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;

    padding: 10px 20px 10px 20px;

    text-transform: uppercase;
    background: none;
    border: 1px solid rgba(60, 60, 60, 1);
}

.call-back-button:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(24, 181, 220, 1);
    border: 1px solid rgba(24, 181, 220, 1);
}