.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-social__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer-social__list--item-icon {
    width: 42px;
    height: 42px;

    padding: 11px;

    border: 1px solid rgba(24, 181, 220, 1);
}




