.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    text-align: center;
    color: rgba(60, 60, 60, 1);
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    line-height: 40.8px;

    margin-bottom: 40px;
    border-bottom: 4px solid rgba(221, 219, 219, 1);
}

.hero__text {
    text-align: center;
    color: rgba(60, 60, 60, 1);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 570px;

    margin-bottom: 60px;
}

.hero-team-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero-team-list__item--name {
    padding-top: 19px;
    color: rgba(40, 37, 40, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.hero-team-list__item--role {
    color: rgba(100, 100, 100, 1);
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
}

