.item-img {
    position: relative;
    width: 100%;
}
  
.box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(24, 181, 220, 1);
}

.item-img:hover .box{
    opacity: 1;
}

.item-hover-social {
    width: 42px;
    height: 42px;
    background-color: rgba(93, 203, 230, 1);
    padding: 11px;
}

.list-hover-social {
    display: inline-flex;
    justify-content: space-between;
    gap: 4px;
}

.list-hover-social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}